<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Web Security Academy Labs POC">
    <meta name="keywords"    content="Web Security Academy, BCSP">
    <meta name="author"      content="Hsiao-Te Hu">
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <title>Web Security Academy Labs POC</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='ico/favicon-32x32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='ico/favicon-16x16.png') }}" sizes="16x16" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/swagger-ui.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
  </head>
  <body>
    <div id="swagger-ui"></div>
    <script charset="UTF-8" src="{{ url_for('static', filename='js/swagger-ui-bundle.js') }}"></script>
    <script charset="UTF-8" src="{{ url_for('static', filename='js/swagger-ui-standalone-preset.js') }}"></script>
    <script charset="UTF-8" src="{{ url_for('static', filename='js/swagger-initializer.js') }}" ></script>
  </body>
</html>

